<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerTaskExpressionTester.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ServerTaskExpressionTester.Properties.Settings1>
            <setting name="Expression" serializeAs="String">
                <value />
            </setting>
            <setting name="JsonBody" serializeAs="String">
                <value />
            </setting>
            <setting name="Variables" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskInputs" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Headers" serializeAs="String">
                <value />
            </setting>
        </ServerTaskExpressionTester.Properties.Settings1>
    </userSettings>
</configuration>
